<% content_for(:title, 'Lesson | Learn How To Program') %>

<h1><%= @lesson.name %></h1>

<h4><%= @lesson.description %></h4>

<p><%= link_to 'Edit Lesson', edit_lesson_path %></p>
<p><%= link_to 'Return to All Lessons', lessons_path %></p>
